<header class="app-header">
  <div class="header-container">
    <div class="brand-section">
      <img src="/headerimages/header-icon.png"/>
      <a routerLink="" class="brand-name" >BookingBrains</a>
    </div>

    @if (title){
      <div class="title-section">
        <h2 class="page-title">{{title}}</h2>
      </div>
    }

    @if (showNavigation){
      <nav class="main-nav">
        <ul class="nav-links">
          @if (currentUser){
            <li><a routerLink="/apartments">Browse</a></li>
            <li><a routerLink="/bookings">My Bookings</a></li>
          }
          @if (currentUser?.isOwner){
            <li><a routerLink="/owner">Manage Properties</a></li>
          }
        </ul>
      </nav>
    }

    <div class="auth-section">
      @if (showAuthButtons && !currentUser){
        <button class="btn-secondary" (click)="onLogin()">Sign In</button>
        <button class="btn-primary" (click)="onRegister()">Register</button>
      }
    </div>

    @if(currentUser){
      <div class="user-menu">
        <button class="icon-btn">
          <img src="/headerimages/notifications-icon.png"/>
        </button>
        <div class="user-info">
          <span class="user-name">{{ currentUser.firstName}}</span>
        </div>
        <div class="user-profile-dropdown">
          <button class="user-avatar-btn" (click)="toggleUserMenu()">
            <img src="/headerimages/default-avatar.png" alt="User profile" class="user-avatar"/>
          </button>

          @if (isUserMenuOpen){
            <div class="dropdown-menu">
              @if (currentUser.isOwner){
                <button class="dropdown-item" (click)="onSwitchToOwner()">
                  Switch to Owner
                </button>
              } @else{
                <button class="dropdown-item" (click)="onRegisterAsOwner()">
                  Register as Owner
                </button>
              }
              <button class="dropdown-item" (click)="onLogout()">
                Log out
              </button>
            </div>
          }
        </div>
      </div>
    }
  </div>
</header>
