<form (ngSubmit)="onSubmit()">
  <div class="register-form">
    <p>
      <label for="user-first-name">First Name</label>
      <input
        id = "user-first-name"
        name = "user-first-name"
        type = "text"/>
    </p>
    <p>
      <label for="user-last-name">Last Name</label>
      <input
        id = "user-last-name"
        name = "user-last-name"
        type = "text"/>
    </p>
    <p>
      <label for="user-email">E-mail</label>
      <input
        id = "user-email"
        name = "user-email"
        type = "text"/>
    </p>
    <p>
      <label for="user-password">Password</label>
      <input
        id = "user-password"
        name = "user-password"
        type = "password"/>
    </p>
    <p>
      <label for="user-confirm-password">Confirm Password</label>
      <input
        id = "user-confirm-password"
        name = "user-confirm-password"
        type = "password"/>
    </p>
  </div>

  <p>
    <button>Register</button>
  </p>
</form>
